body{font-family: 'Poltawski Nowy', serif;
    font-family: 'Raleway', sans-serif;
}
.DMall{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-image: linear-gradient(#5b780c, #30231a);
}
.DMdiv{
    width: 40%;
}
.DMtitle{
    font-size: 200%;
    padding: 24px 0;
}
.DMsobre{font-size: 150%;
}
.DM{width: 40%;
}
